@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


body{
    background:#f4f4f4;
    font-family: Roboto;
    color: black !important;
}

html, body {
     height: 100%; 
    }
body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    }
h1, h2, h3, h4, h5, h6{
    color: #d49a89;
}